<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.mapper.AdminMapper">
    <update id="updateAdmin" parameterType="com.zhuxi.pojo.VO.Admin.AdminVO">
        UPDATE admin
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="realName != null">
                real_name = #{realName},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <select id="queryAdminList" resultType="com.zhuxi.pojo.VO.Admin.AdminVO">
        SELECT
            id,
            username,
            real_name,
            status,
            role,
            last_login
        FROM admin
    </select>
</mapper>