<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuxi.mapper.ArticleMapper">
    <select id="getListArticle" resultType="src.main.java.com.zhuxi.pojo.VO.Article.ArticleVO">
        SELECT
            id,
            title,
            type,
            cover_oss,
            created_at
        FROM article
        <where>
            status = 2
            <if test="type != null">
                AND type = #{type}
            </if>
        </where>

    </select>

    <select id="getListArticleDESC" resultType="src.main.java.com.zhuxi.pojo.VO.Article.ArticleVO">

        SELECT
            id,
            title,
            type,
            cover_oss,
            created_at
        FROM article
        <where>
     <![CDATA[
         id < #{lastId} AND status = 2

           <if test="type != null">
           AND type = #{type}
           </if>
        ]]>
         </where>
        ORDER BY id DESC
        LIMIT #{pageSize}

    </select>

    <update id="updateArticle" parameterType="src.main.java.com.zhuxi.pojo.DTO.article.ArticleInsertOrUpdateDTO">
        UPDATE article
            <set>
                <if test="aIOUDto.title != null">
                    title = #{aIOUDto.title},
                </if>
                <if test="aIOUDto.status != null">
                    status = #{aIOUDto.status},
                </if>
                <if test="aIOUDto.type != null">
                    type = #{aIOUDto.type},
                </if>
            </set>
            WHERE id = #{id}
    </update>
</mapper>