<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxi.mapper.ProductMapper">
    <select id="getListProductByCreate"  resultType="com.zhuxi.pojo.VO.Product.ProductOverviewVO">
    <![CDATA[
        SELECT
            id,
            name,
            mini_price.price,
            cover_url,
            created_at
        FROM product
        JOIN
            (SELECT product_id,MIN(price) AS price FROM spec GROUP BY product_id) mini_price
        ON product.id = mini_price.product_id
        WHERE product.created_at < #{dateTime} AND status = 1
        ORDER BY created_at DESC,id DESC
        LIMIT #{pageSize}
    ]]>
    </select>

    <select id="getListProductByPriceDESC"
            resultType="com.zhuxi.pojo.VO.Product.ProductOverviewVO">
         <![CDATA[
        SELECT
            id,
            name,
            mini_price.price,
            cover_url,
            created_at
        FROM product
                 JOIN
                 (SELECT product_id,MIN(price) AS price FROM spec GROUP BY product_id) mini_price
                 ON product.id = mini_price.product_id
        WHERE  (mini_price.price > #{price} OR ( mini_price.price = #{price} AND id > #{lastId})) AND status = 1
        ORDER BY mini_price.price ASC,id ASC
        LIMIT #{pageSize}
        ]]>
    </select>

    <select id="getListProductByPriceASC"
            resultType="com.zhuxi.pojo.VO.Product.ProductOverviewVO">
             <![CDATA[
        SELECT
            id,
            name,
            mini_price.price,
            cover_url,
            created_at
        FROM product
                 JOIN
                 (SELECT product_id,MIN(price) AS price FROM spec GROUP BY product_id) mini_price
                 ON product.id = mini_price.product_id
        WHERE (mini_price.price < #{price} OR mini_price.price = #{price} AND id < #{lastId}) AND status = 1
        ORDER BY created_at DESC,id DESC
        LIMIT #{pageSize}
        ]]>
    </select>

    <select id="getListProduct" resultType="com.zhuxi.pojo.VO.Product.ProductDetailVO">
        <![CDATA[
        SELECT
            id,
            snowflake_id,
            name,
            mini_price.price,
            cover_url,
            images,
            description,
            status,
            origin,
            created_at
        FROM product
                 JOIN
                 (SELECT product_id,MIN(price) AS price FROM spec GROUP BY product_id) mini_price
                 ON product.id = mini_price.product_id
        WHERE product.id > #{lastId} AND status = 1
        LIMIT #{pageSize}
        ]]>
    </select>

    <select id="getListAdminProductsDESC" resultType="com.zhuxi.pojo.VO.Admin.AdminProductVO">
      <![CDATA[
        SELECT
            product.id,
            product.name,
            product.cover_url,
            product.origin,
            supplier.name AS supplier_name,
            COALESCE(COUNT(spec.id),0) AS spec_count,
            COALESCE(MIN(spec.price),0) AS min_price,
            COALESCE(MAX(spec.price),0) AS max_price,
            COALESCE(SUM(real_stock.stock),0) AS total_real_stock,
            COALESCE(SUM(spec.stock),0) AS onSale_stock,
            MAX(CASE WHEN real_stock.stock < 100 THEN 1 ELSE 0 END) AS stock_status,
            product.status
        FROM product JOIN supplier ON product.supplier_id = supplier.id
                     LEFT JOIN spec ON product.id = spec.product_id
                     LEFT JOIN real_stock ON spec.id = real_stock.spec_id
        WHERE product.id < #{lastId}
        GROUP BY product.id, product.name,product.cover_url,supplier.name
        ORDER BY product.id DESC
        LIMIT #{pageSize}
        ]]>
    </select>


    <select id="getListAdminProductsASC" resultType="com.zhuxi.pojo.VO.Admin.AdminProductVO">
        <![CDATA[
        SELECT
            product.id,
            product.name,
            product.cover_url,
            supplier.name AS supplier_name,
            COALESCE(COUNT(spec.id),0) AS spec_count,
            COALESCE(MIN(spec.price),0) AS min_price,
            COALESCE(MAX(spec.price),0) AS max_price,
            COALESCE(SUM(real_stock.stock),0) AS total_real_stock,
            COALESCE(SUM(spec.stock),0) AS onSale_stock,
            MAX(CASE WHEN real_stock.stock < 100 THEN 1 ELSE 0 END) AS stock_status
        FROM product JOIN supplier ON product.supplier_id = supplier.id
        LEFT JOIN spec ON product.id = spec.product_id
        LEFT JOIN real_stock ON spec.id = real_stock.spec_id
        WHERE product.id > #{lastId}
        GROUP BY product.id, product.name,product.cover_url,supplier.name
        ORDER BY product.id ASC
        LIMIT #{pageSize}
        ]]>
    </select>

    <select id="getSpec" resultType="com.zhuxi.pojo.DTO.product.SpecRedisDTO">
        SELECT
            spec.id,
            spec.product_id,
            spec.snowflake_id,
            spec.spec,
            spec.price AS sale_price,
            spec.cover_url,
            spec.stock
        FROM spec
        WHERE product_id IN
            <foreach collection="productIds" item="ps" open="(" close=")" separator=",">
                #{ps}
            </foreach>
    </select>


    <select id="getDashboardDTO" resultType="com.zhuxi.pojo.DTO.Admin.DashboardDTO">
        <![CDATA[
        SELECT
            IFNULL((SELECT COUNT(id) FROM user),0) AS user_count,
            IFNULL((SELECT COUNT(id) FROM admin),0) AS admin_count,
            IFNULL((SELECT COUNT(id) FROM product),0) AS product_count,
            IFNULL((SELECT COUNT(id) FROM `order` WHERE status = 3),0) AS order_count,
            IFNULL((SELECT COUNT(id) FROM article),0) AS article_count,
            IFNULL((SELECT SUM(total_amount) FROM `order` WHERE status = 3),0) AS income_count,
            IFNULL((SELECT SUM(total_amount) FROM purchase_record),0) AS expense_count,
            IFNULL(((SELECT SUM(total_amount) FROM `order`) - (SELECT SUM(total_amount) FROM purchase_record)),0) AS profit_count
        FROM DUAL
        ]]>
    </select>

    <select id="getProfitDate">

        SELECT
        months.month AS `month`,
        (IFNULL(o.total_sales, 0) - IFNULL(p.total_purchase_amount, 0)) AS total_profit
        FROM (
        SELECT DATE_FORMAT(created_at, '%Y-%m') AS month
        FROM `order`
        WHERE
        <if test="targetYear != null">
            YEAR(created_at) = #{targetYear}
        </if>
        <if test="targetYear == null">
            YEAR(created_at) = YEAR(NOW())
        </if>
        UNION
        SELECT DATE_FORMAT(created_at, '%Y-%m') AS month
        FROM purchase_record
        WHERE
        <if test="targetYear != null">
            YEAR(created_at) = #{targetYear}
        </if>
        <if test="targetYear == null">
            YEAR(created_at) = YEAR(NOW())
        </if>
        ) months
        LEFT JOIN (
        SELECT
        DATE_FORMAT(created_at, '%Y-%m') AS order_month,
        SUM(total_amount) AS total_sales
        FROM `order`
        WHERE
        status = 3
        AND
        <if test="targetYear != null">
            YEAR(created_at) = #{targetYear}
        </if>
        <if test="targetYear == null">
            YEAR(created_at) = YEAR(NOW())
        </if>
        GROUP BY order_month
        ) o ON months.month = o.order_month
        LEFT JOIN (
        SELECT
        DATE_FORMAT(created_at, '%Y-%m') AS purchase_month,
        SUM(total_amount) AS total_purchase_amount
        FROM purchase_record
        WHERE
        <if test="targetYear != null">
            YEAR(created_at) = #{targetYear}
        </if>
        <if test="targetYear == null">
            YEAR(created_at) = YEAR(NOW())
        </if>
        GROUP BY purchase_month
        ) p ON months.month = p.purchase_month
        ORDER BY months.month ASC;

    </select>


    <select id="getYearProfit">
        SELECT
        months.month AS `month`,
        (IFNULL(o.total_sales, 0) - IFNULL(p.total_purchase_amount, 0)) AS total_profit
        FROM (
        -- 合并当前传入年份的订单和采购月份
        SELECT DATE_FORMAT(created_at, '%Y-%m') AS month
        FROM `order`
        WHERE YEAR(created_at) = #{targetYear}
        UNION
        SELECT DATE_FORMAT(created_at, '%Y-%m') AS month
        FROM purchase_record
        WHERE YEAR(created_at) = #{targetYear}
        ) months
        LEFT JOIN (
        SELECT
        DATE_FORMAT(created_at, '%Y-%m') AS order_month,
        SUM(total_amount) AS total_sales
        FROM `order`
        WHERE
        status = 3
        AND YEAR(created_at) = #{targetYear}
        GROUP BY order_month
        ) o ON months.month = o.order_month
        LEFT JOIN (
        SELECT
        DATE_FORMAT(created_at, '%Y-%m') AS purchase_month,
        SUM(total_amount) AS total_purchase_amount
        FROM purchase_record
        WHERE YEAR(created_at) = #{targetYear}
        GROUP BY purchase_month
        ) p ON months.month = p.purchase_month
        ORDER BY months.month ASC;
    </select>


    <!--    <insert id="addSpec">-->
<!--    INSERT INTO spec(product_id,spec,price,stock)-->
<!--    VALUES-->
<!--        <foreach collection='list' item='spec' separator=','>-->
<!--        (-->
<!--            #{productId},-->
<!--            #{spec.spec},-->
<!--            #{spec.price},-->
<!--            0-->
<!--            )-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="addRealStock">
        INSERT INTO real_stock(product_id, spec_id, stock)
             VALUES
        <foreach collection="list" item="rs" separator=",">
            (
            #{rs.productId},
            #{rs.specId},
            0
            )
        </foreach>
    </insert>

    <insert id="addSpecOnce" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO spec(snowflake_id,product_id,spec,stock)
    VALUES
        <foreach collection="specAddDTO" item="sad" separator=",">
            (
            #{sad.snowflakeId},
            #{sad.productId},
            #{sad.spec},
            0
            )
        </foreach>
    </insert>

    <update id="updateProductBase">
        UPDATE product
        <set>
            <if test="base.supplierId != null">
                supplier_id = #{base.supplierId},
            </if>
            <if test="base.name != null">
                name = #{base.name},
            </if>
            <if test="base.description != null">
                description = #{base.description},
            </if>
            <if test="base.origin != null">
                origin = #{base.origin},
            </if>
        </set>
        WHERE id = #{base.id};
    </update>

    <update id="updateProductSpec">
        UPDATE spec
            <set>
                <if test="specU.spec != null">
                    spec = #{specU.spec},
                </if>
                <if test="specU.price != null">
                    price = #{specU.price},
                </if>
                <if test="specU.stock != null">
                    stock = #{specU.stock},
                </if>

            </set>
        WHERE product_id = #{productId} AND id = #{specU.id}

    </update>

    <update id="addBasePics">
        UPDATE product
        <set>
            <if test="coverUrl != null">
                cover_url = #{coverUrl},
            </if>
                <if test="images != null">
                    images = #{images},
                </if>
        </set>
        WHERE id = #{productId}
    </update>
    <update id="updateSupplier">
    UPDATE supplier
    <set>
        <if test="rating != null">
            rating = #{rating},
        </if>
        <if test="isActive != null">
            is_active = #{isActive},
        </if>
    </set>
    WHERE id = #{id}
    </update>

</mapper>